@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: "微软雅黑";
    font-size: 12px;
}

input[type="button"] {
    width: 80px;
    height: 25px;
}

.input-mini {
    width: 60px;
}

.input-smal {
    width: 40px !important;
}

.input-small {
    width: 90px;
}

.input-medium {
    width: 150px;
}

.input-large {
    width: 210px;
}

.input-xlarge {
    width: 270px;
}

.input-xxlarge {
    width: 530px;
}

.top-container {
    width: 100%;
    height: 40px;
    background: url('img/top_bg.gif');
    overflow: hidden;
    zoom: 1;
    color: #FFF;
}

.top-container .logo {
    width: 300px;
    float: left;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 25px;
}

.top-container .message {
    width: 300px;
    float: right;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 45px;
}

.top-container .message a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.top-container .message a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.top-container .message a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.top-container .message a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.left-body {
    background: url('img/left_bg.gif');
}

.left-content {
    width: 180px;
    text-align: center;
    overflow: hidden;
    zoom: 1;
    overflow: hidden;
}

.left-menu {
    width: 100%;
    margin: 50px auto;
    overflow: hidden;
    zoom: 1;
}

.left-menu li {
    color: #FFF;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    margin-bottom: 20px;
}

.left-menu a:link {
    color: #FFFFFF;
    text-decoration: none;
}

.left-menu a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.left-menu a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.left-menu a:active {
    text-decoration: none;
    color: #FFFFFF;
}

.list-container {
    width: 95%;
    margin: 15px auto;
    border: 1px solid #BBBEC3;
    overflow: hidden;
    zoom: 1;
}

.list-container h2 {
    background-color: #C9E9FF;
    height: 25px;
    line-height: 25px;
    font-size: 1em;
    color: #404F66;
}

.list-container h2 label {
    float: left;
    padding-left: 15px;
}

.list-container h2 span {
    float: right;
    padding-right: 15px;
}

.table-list {
    width: 95%;
    margin: 15px auto;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}

.table-list thead td {
    height: 25px;
    border: 1px solid #BBBEC3;
    color: #404F66;
    text-align: center;
    vertical-align: middle;
    background-color: #C9E9FF;
}

.table-list tbody td {
    height: 25px;
    border: 1px solid #BBBEC3;
    text-align: center;
    vertical-align: middle;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-list td.left {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.table-list .operation {
    width: 200px;
}

.table-detail {
    width: 95%;
    margin: 15px auto;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}

.table-detail thead td {
    color: #404F66;
    vertical-align: middle;
    background-color: #C9E9FF;
    font-weight: bold;
}

.table-detail th {
    width: 15%;
    height: 25px;
    border: 1px solid #BBBEC3;
    text-align: right;
    vertical-align: middle;
    padding-right: 5px;
}

.table-detail td {
    height: 25px;
    border: 1px solid #BBBEC3;
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
}

.table-detail td.actions {
    height: 30px;
    text-align: center;
}

.table-detail td.actions input {
    width: 80px;
    height: 25px;
}

.table-pagination {
    width: 95%;
    border: 0;
    padding: 0;
    border-collapse: collapse;
}

.table-pagination tr td {
    border: none;
    text-align: center;
    vertical-align: middle;
    height: 40px;
}

.table-pagination tr td span,.table-pagination tr td ul {
    display: inline;
}

.table-pagination tr td ul li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.table-pagination .disabled {
    color: #ccc;
}

.table-pagination .current-page {
    color: #f00;
}

.table-pagination .total-page {
    margin-right: 5px;
}

.table-pagination .input-page {
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.table-pagination .btn-goto {
    width: 50px;
    margin-left: 5px;
}