<!DOCTYPE html>
<html>
<head>
	<#include "inc/global_head.html">
</head>
<body>
	<!--header start-->
	<div class="header">
		<div class="topnav">
			<div class="wrap cf">
				<div class="fl">
					<span>欢迎来到深圳地铁文化中心</span>
				</div>	
				<div class="fr">
					<span id="nowTime">今天:2013-03-04 21:00</span>
					<span>天气冷</span>
				</div>					
			</div>	
		</div>
		<#include "inc/library_top_nav.html">
	</div>
	<!--header end-->
	<!--containner start-->
	<div class="containner wrap">
		<div class="content">
			<div class="yuyue-box myyuyue-list">
				<h3>待归还图书</h3>
				<table class="table">
					<thead>
						<tr><th width="14%" class="first">编号</th><th width="36%">名称</th>
					  <th width="20%">借书时间</th>
					  <th width="17%">最晚归还时间</th>
					  <th width="13%">是否超期</th></tr>
					</thead>
					<tbody>
						<tr>
							<th class="first">A10001</th>
							<td>企业管理中的人的因素 </td>
							<td>2012年2月28号</td>
							<td>2012年3月28号</td>
							<td>未超期</td>						
						</tr>
						<tr>
							<th class="first">A10002</th>
							<td>战胜自己</td>
							<td>2012年3月8号</td>
							<td>2012年4月8号</td>
							<td>未超期</td>	
						</tr>
						<tr>
							<th class="first">A10003</th>
							<td>智慧人生 </td>
							<td>2012年2月12号</td>
							<td>2012年3月12号</td>
							<td>已超期</td>	
						</tr>														
					</tbody>
				</table>
			</div>
		</div>
		<div class="bottom-nav"></div>						
	</div>
	<!--containner end-->
	<!--footer start-->
	<div class="footer">

	</div>	
	<!--footer end-->
	<#include "inc/global_js.html">
	<script type="text/javascript">
		
	</script>
</body>
</html>
