<div class="shixiang">
    <h3>健身房管理制度</h3>
    <p>为了促进科学健身，防止造成人员意外伤害，保障设备和器材完好率，提高设备和器材的使用率，特制定本制度。</p>
    <p>
        1、健身房仅限于集团员工进入或使用健身器材等。<br /> 2、在健身房健身的人员必须遵守有关规章制度，服从管理人员的管理。<br />
        3、进入健身房需着装运动服、运动鞋、旅游鞋、软底鞋为主。<br />
        4、活动前请做热身运动，活动中请勿与他人交谈，以免影响锻炼效果或受伤。<br />
        5、爱护室内健身活动设施，按说明正确使用健身器械，不得违规操作，以免造成伤害。因使用不当造成自伤的，后果自负。造成器材损坏，照价赔偿。<br />
        6、如有技术问题或发现器材故障请及时通知管理人员，切勿自行操作，以免运动伤害。<br />
        7、如患有严重高血压、心脏病、传染性疾病等同志请勿进入健身房，擅自参加活动者，如发生事故，后果自负。<br />
        8、谢绝1.5米以下儿童，在锻炼时需有成年人监护，如出现伤害由监护责任人承担责任。严禁在器械上做危害他人安全的动作，若给他人造成伤害，由监护责任人承担相应民事责任。<br />
        9、健身器材使用完毕后及时放回原位，以免器材混乱。<br />
        10、未经允许，禁止将健身器材拿（推）到室外或任意挪动，以免损坏或丢失器材。<br />
        11、健身房内禁止吸烟，不得随地吐痰、乱丢杂物垃圾 ,保持室内卫生。严禁酒后进入健身房进行锻炼。<br />
        12、培养公共意识与文明。在淋浴房淋浴时，请节约用水。随身垃圾及喝完矿泉水瓶请丢在垃圾箱，勿摆在器械边拂手而去.用了哑铃、乒乓球、桌球杆等，请归还原处放好.<br />
        13、请遵守健身房秩序，互爱互让，相互关照，争做文明运动者，营造健身房和谐友好的氛围。<br />
        14、如违反以上管理制度锻炼者，造成不良后果，责任自负。<br />
    </p>
</div>