<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${base}/css/global.css" type="text/css" rel="Stylesheet" />
<title>${system_name}</title>
</head>
<body class="left-body">
    <div class="left-content">
        <ul class="left-menu">
            <#list menus as menu>
            <li>
                <a href="${base}${menu.data.forwardURI}" target="rightFrame">${menu.data.name}</a>
            </li>
            </#list>    
        </ul>
    </div>
</body>
</html>