<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${system_name}</title>
</head>
<frameset id="mainFrameSet" cols="180,9,*" frameborder="no" border="0" framespacing="0">
    <frame src="${base}/left.do" name="leftFrame" noresize="noresize" id="leftFrame"/>
    <frame name=middleframe src='${base}/html/frame_split.html' scrolling='NO' frameborder="0" noresize="noresize"/>
    <#if innerUri??>
    <frame src="${base}/${innerUri}" name="rightFrame" id="rightFrame" />
    <#else>
    <frame src="${base}/preferred_menu.do" name="rightFrame" id="rightFrame" />
    </#if>
</frameset>
<noframes><body></body></noframes>
</html>