<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 客户系统数据库连接（需要修改相应的IP、数据库名称、用户名和密码）-->
    <add key="db" value="server=127.0.0.1;database=Demo;uid=sa;pwd=123456"/>
    
    <!-- E邮宝服务相关配置（正式环境配置好后不需要再修改） -->
    <add key="ems_server" value="www.ems.com.cn"/>
    <add key="ems_port" value="8091"/>
    <add key="ems_version" value="international_eub_us_1.1"/>
    <add key="ems_authenticate" value="buysodial_73izmchy0slbc6y55ewq"/>
    <add key="ems_ship_uri" value="/partner/api/public/p/order/"/>
    
    <!-- E邮宝发运服务所需参数的默认值 -->
    <add key="clct_type" value="1"/>
    <add key="pod" value="false"/>
    <add key="untread" value="Returned"/>
    <add key="sender_name" value="Li"/>
    <add key="sender_postcode" value="224007"/>
    <add key="sender_phone" value=""/>
    <add key="sender_mobile" value=""/>
    <add key="sender_country" value="CN"/>
    <add key="sender_province" value="000047"/>
    <add key="sender_city" value="000047"/>
    <add key="sender_county" value="000001"/>
    <add key="sender_company" value=""/>
    <add key="sender_street" value="XiWang Road"/>
    <add key="sender_email" value=""/>
    <add key="collect_name" value="Li"/>
    <add key="collect_postcode" value="224007"/>
    <add key="collect_phone" value=""/>
    <add key="collect_mobile" value=""/>
    <add key="collect_country" value="CN"/>
    <add key="collect_province" value="000047"/>
    <add key="collect_city" value="000047"/>
    <add key="collect_county" value="000001"/>
    <add key="collect_company" value=""/>
    <add key="collect_street" value="XiWang Road"/>
    <add key="collect_email" value=""/>
  </appSettings>
</configuration>