<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="${base}/css/global.css" type="text/css" rel="Stylesheet" />
<script src="${thirdparty}/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function()
    {
        $("#username").focus();
        if (parent.window != window)
        {
            $("#login_form").attr("action", "${base}/forward_login.do");
            $("#login_form").attr("target", "_top");
            $("#login_form").submit();
        }
    });
</script>
<title>${system_name}</title>
</head>
<body>
    <form id="login_form" action="${base}/login.do" method="post">
        <table class="table-detail" style="width: 30%;">
            <thead>
                <tr>
                    <td colspan="2">会员登录</td>
                </tr>
            </thead>
            <tbody>
                <#if (SPRING_SECURITY_LAST_EXCEPTION.message)??>
                <tr>
                    <td colspan="2">${SPRING_SECURITY_LAST_EXCEPTION.message}</td>
                </tr>
                </#if>    
                <tr>
                    <th>用户名</th>
                    <td>
                        <input type="text" name="j_username" id="username" />
                    </td>
                </tr>
                <tr>
                    <th>密码</th>
                    <td>
                        <input type="password" name="j_password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="actions">
                        <input type="submit" value="登录" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>